.Model{
    position:absolute;
    inset: 0% 0% 0% 0%;
    background-color: #1e1e1e5a;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 100;
    height: 100vh;
    width: 100vw;
}

.Model_box{
    background-color: #1F242E;
    border: #1e1e1e 3px solid;
    padding: 2rem;
    border-radius: .5rem;

}

.Model_box_heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Model_box_heading p{
    font-size:1.2rem;
}
.Model_box_wallet p{
    background-color: #F5F6FC;
    padding: 1rem;
    border-radius: .5rem;
    color: #1F242E;
    font-weight: 700;
    cursor: pointer;
}

.Model_box_para{
    padding: 1rem;
    line-height: 1.2;
    border:1px solid #F5F6FC;
    border-radius: .5rem;
}

.Model_box_heading_img{
    cursor: pointer;
}